.bigBack{
    width: auto;
    left: 65%;
    position: absolute;
    top: 50%; 
    height: 80vh;
    transform: translate(-50%,-50%);
    opacity: 0.3;
    z-index: 100;
}
.foodPhoto{
    left: 65%;
    position: absolute;
    top: 55%;
    transform: translate(-50%,-50%);
    height: 50vh;
    z-index: 150;
    padding: 20px;
}

.productName{
    left: 26%;
    font-size: 36px;
    position: absolute;
    top: 40%;
    transform: translate(-50%,-50%);
    z-index: 200;
    font-family: "Rounded Mplus 1c";
    color: #D44D5C;
}

.productSubName{
    left: 26%;
    font-size: 21px;
    position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    z-index: 200;
    font-family: "Rounded Mplus 1c";
    color: #0B0014;
}

.circle {
    background-image: url('../imgs/circleplus.svg');
    background-repeat: no-repeat;
    background-size: 70px;
    position: absolute;
    height: 70px;
    width: 70px;
    left: 26%;
    top: 58%;
    z-index: 1000;
    cursor: pointer;
}

.transC{
    background-color: #D44D5C;
}


@media (max-width: 1024px) {

    .productName{
        left: 50%;
        top: 20%;
    }

    .productSubName{
        left: 50%;
        top: calc(20% + 50px);
    }

    .bigBack{
        left: 50%;
        top: 55%; 
    }
    .foodPhoto{
        left: 50%;
        top: 60%;
        height: 45vh;
    }

    .circle{
        left: calc(50% - 35px);
        top: calc(20% + 80px);
    }
}


@media (max-width: 767px) {

    .productName{
        font-size: 30px;
    }

    .productSubName{
        font-size: 14px;
        top: calc(20% + 35px);
    }

    .bigBack{
        top: 55%;
        height: 65vh;
    }

    .foodPhoto{
        top: 65%;
        height: 30vh;
    }

    .circle{
        background-size: 54px;
        height: 54px;
        width: 54px;
        left: calc(50% - 27px);
        top: calc(20% + 100px);
    }
}


@media (max-width: 550px) {
    .circle{
        background-size: 41px;
        height: 41px;
        width: 41px;
        left: calc(50% - 20px);
        top: calc(20% + 100px);
    }
}


/* 動態 */

.fadeMoveWord{
    opacity: 0;
    margin-top:+5%;
}


.marginMoveTop {
    margin-top: -15%;
}


.clicked{
	top: 100px;
    left: calc(100% - 100px);
    transition: all .3s ease-in;
    background-image: url("../imgs/backpage.svg");
}

@media (max-width: 1024px) {
    .clicked{
        top: 65px;
        left: calc(100% - 135px);
        transition: all .3s;
    }
}

@media (max-width: 900px) {
    .clicked{
        top: 35px;
        left: calc(100% - 105px);
        transition: all .3s;
    }
}

@media (max-width: 767px) {
    .clicked{
        top: 40px;
        left: calc(100% - 94px);
        transition: all .3s;
    }
}

@media (max-width: 550px) {
    .clicked{
        top: 20px;
        left: calc(100% - 60px);
        transition: all .3s;
    }
}


/* 我是背景遮罩 */

.magicCover{
    position: fixed;
    opacity: 0;
    z-index: 10;
    background-image: url("../imgs/bg.png");
    background-repeat: repeat;
    margin: 0 auto;
    width: 100%;
    height: 0vh;
    overflow: hidden;
    padding: 0px 180px;
    margin-left: -90px;
}

/* 我是料理的資料 */

.recipeCover{
        margin-left: 0%;
        width: 300px;
        position: absolute;
    
        background-color: rgba(255, 255, 255, 1);
        top: calc(30% + 50px);
        margin-top:35%;
        left: 26%;
        transform: translate(-50%,0%);
        border: 2px solid transparent;
        z-index: 900;
        opacity: 0;
        line-height: 20px;
        padding: 20px 20px;
        border-radius: 15px;
        background-image: url("../imgs/round.svg");
        background-repeat: no-repeat;
        background-position-x: 410px;
        background-position-y: 150px;
}

@media (min-width: 1200px) {
    .recipeCover{
        width: 450px;
    }
}

@media (max-width: 1023px) {
    .recipeCover{
        width: 500px;
        top: calc(10% + 100px);
        background-color: rgba(255, 255, 255, 1);
        left: 50%;
    }
}

@media (max-width: 550px) {
    .recipeCover{
        width: 300px;
        left: 50%;
        background-color: rgba(255, 255, 255, 1);
        top: calc(10% + 100px);
    }
}

@media (max-width: 325px) {
    .recipeCover{
        top: calc(10% + 80px);
    }
}

.recipeCover>h3{
    text-align: center;
    font-size: 16px;
    margin: 15px 0px 15px 0px;
    color: #666666;
}

.recipeCover>h3:last-child{
    margin: 20px 0px 15px 0px;
}

.recipeCover>p{
    text-align: center;
    color: #999999;
    margin: 5px 10px 10px 10px;
    font-size: 14px;
}

.recipeCover>p:last-child{
    margin: 5px 10px 20px 10px;
}



#moveRotate{
    position: fixed;
    width:100%;
    right:0;
    margin:0 auto;
    height: 1px;
    z-index: 10;
    margin-right: -250%;
}

.centerLine{
   width:2px;
   height:45vh;
   background-color: #D44D5C;
   position: absolute;
   left:calc(100% - 100px);
   top:250px;
 }

 

 .grow { 
    transition: all .1s ease-in-out; 
  }

  .cir{
    width:12px;
    height:12px;
    border:1px solid  #D44D5C;
    border-radius:100%;
    position: absolute;
    background-color: #D44D5C;
    cursor: pointer;
  }

  .circle1{
    top:250px;
    left:calc(100% - 105px);
  }

  .circle2{
    top:calc(250px + 15vh);
    left:calc(100% - 105px);
  }

  .circle3{
    top:calc(250px + 30vh);
    left:calc(100% - 105px);
  }

  .circle4{
    top:calc(250px + 45vh);
    left:calc(100% - 105px);
  }

  .growBig { 
    transform: scale(7); 
  }

  .circlePic1,
  .circlePic2,
  .circlePic3,
  .circlePic4{
   width:80px;
   height:80px;
   border:1px solid  transparent;
   padding:5px;
   border-radius:100%;
   position: absolute;
   background-color: #ffffff;
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: center;
   cursor: pointer;
   transition-delay: 1s;
   transition: .3s ease; 
   transform: scale(0);
  }

  .circlePic1{
    background-image: url("../imgs/beefnoodles.png");
    top:216px;
    left:calc(100% - 139px);
    z-index: 500;
  }

  .circlePic2{
    background-image: url("../imgs/syoronbou.png");
    
    top:calc(216px + 15vh);
    left:calc(100% - 139px);
    z-index: 500;
  }

  .circlePic3{
    background-image: url("../imgs/food_soup.png");
    
    top:calc(216px + 30vh);
    left:calc(100% - 139px);
    z-index: 500;
  }

  .circlePic4{
    background-image: url("../imgs/food_riceball.png");
    top:calc(216px + 45vh);
    left:calc(100% - 139px);
    z-index: 500;
  }

  .picBig{
    transform: scale(1);
  }

  .circleSelected{
    background-color: #ffffff;
    border: 2px solid #D44D5C;
    padding: 1px;
    width: 12px;
    height: 12px;
  }

  @media (max-width: 900px) {
    #moveRotate{
        display: none;
    }
  }


  .restaurantBox{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px;
  }

  .restaurantBox>p{
      color: #D44D5C;
      margin: 0 10px;
      display: none;
      font-size: 16px;
  }

  .restaurantBox>.restaurantEnter{
      background-image: url("../imgs/restaurantbutton.svg");
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      cursor: pointer;
    }

    



.clickWhiteCircle{
    display: none;
    background-image: radial-gradient(circle,  #eeeeee 60%, #ffffff 40%);
    border-radius: 100%;
    width: 5000px;
    height: 5000px;
    position: fixed;
    z-index: 9999;
    animation: growCircle  2s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    transform:scale(0,0);
}

.clickCircle{
    display: none;
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
}


@keyframes growCircle {
0%   {transform:scale(0,0)}
100% {transform:scale(1,1)}
}






#restaurantFullPage{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: #eeeeee;
    z-index: 9997;
    display: none;
}

.restaurantCard{
    touch-action: none;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    -webkit-scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-points-x: repeat(300px);
    scroll-snap-points-x: repeat(300px);
}

.restaurantCard> div {
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    scroll-snap-align: center;
    scroll-behavior: smooth;
 }

 .restaurantCard> div:nth-child(1) {
     background-color: aliceblue;
 }

 .restaurantCard> div:nth-child(2) {
    background-color: pink;
}

.restaurantCard> div:nth-child(3) {
    background-color: aliceblue;
}

.restaurantCard>.restaurantBG{
    /* background-image: url("../imgs/02dintaifeng.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurantCard>.restaurantBG>.restBig{
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;

    background-image: url("../imgs/round.svg");
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 150px;
}

.restDetail{
    width: 300px;
    height: 300px;
    padding: 30px;
    animation: moveToUp  .3s;
    animation-play-state: running;
    animation-timing-function: linear;

}

.moreSpan{
    text-align: right;
    color: #D44D5C;
    font-size: 16px;
    display: none;
}



@keyframes moveToUp {
0%   {margin-top: 10px}
100% {margin-top: 0px}
}


.restDetail>h1{
    font-size: 30px;
    font-family: "Rounded Mplus 1c";
    color: #D44D5C;
    margin-bottom: 10px;
    text-align: center;
}

.restDetail>h2{
    font-size: 16px;
    font-family: "Rounded Mplus 1c";
    color: #999999;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
}

.restDetail>p{
    font-size: 14px;
    font-family: "Rounded Mplus 1c";
    color: #666666;
    margin-bottom: 6px;
    /* text-align: center; */
    letter-spacing: .5px;
}

.moreA{
    background-image: url("../imgs/homepage.svg");
    background-repeat: no-repeat;
    background-size: 45px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: block;
    margin-left: 15px;
}

.officialBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
}



.restPicture{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffffff;
}



/*  left and right button  */


.restaurantCard .btn {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: initial;
    z-index: 1;
    cursor: pointer;
  }
  
  .restaurantCard .btn.next {
    background-image: url('../imgs/arrR.svg');
    right: 10px;
  }
  
  .restaurantCard .btn.prev {
    background-image: url('../imgs/arrL.svg');
    left: 10px;
  }


  .resClose{
    background-image: url('../imgs/backpage.svg');
    background-repeat: no-repeat;
    background-size: 70px;
    position: absolute;
    height: 70px;
    width: 70px;
    top: 65px;
    right: 65px;
    z-index: 200;
    cursor: pointer;
  }


  @media (max-width: 730px) {

    .restaurantCard>.restaurantBG>.restBig{
        display: block;
        height: 500px;
        width: 270px;
    }

    .restDetail{
        width: 270px;
        height: 50%;
        padding: 35px 20px 20px 20px;
    }

    .restPicture{
        height: 50%;
        width: 270px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .restDetail>a{
        background-image: url("../imgs/homepage.svg");
        background-repeat: no-repeat;
        margin-left: 80%;
        margin-top: 10%;
    }

    .resClose{
        top: 13px;
        right: 13px;
        background-size: 54px;
        height: 54px;
        width: 54px;
    }

    .officialBox{
        margin-top: 20px;
    }

  }


  @media (max-width: 550px) {

    .restaurantCard .btn.prev{
        left: 5px;
        height: 50px;
        width: 20px;
        background-size: 18px;
    }

    .restaurantCard .btn.next{
        right: 5px;
        height: 50px;
        width: 20px;
        background-size: 18px;
    }

    .restaurantBox>.restaurantEnter {
        width: 40px;
        height: 40px;
        background-size: 40px;
    }

    .resClose{
        background-size: 41px;
        height: 41px;
        width: 41px;
        top: 20px;
        right: 20px;
        z-index: 200;
    }

    .recipeCover>p{
        text-align: center;
        color: #999999;
        margin: 5px 0px 10px 0px;
        font-size: 14px;
    }
    
  }


  @media (max-width: 400px) {
    .restDetail>a{
        background-image: url("../imgs/homepage.svg");
        background-repeat: no-repeat;
        background-size: 40px;
        width: 40px;
        height: 40px;
    }
  }





