.bigBack{
    width: auto;
    left: 50%;
    position: absolute;
    top: 50%; 
    height: 80vh;
    transform: translate(-50%,-50%);
    opacity: 0.3;
    z-index: 100;
}
.foodPhoto{
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%,-50%);
    height: 50vh;
    z-index: 150;
}

.productName{
    left: 23%;
    font-size: 36px;
    position: absolute;
    top: 40%;
    transform: translate(-50%,-50%);
    z-index: 200;
    font-family: "Rounded Mplus 1c";
    color: #D44D5C;
}

.productSubName{
    left: 23%;
    font-size: 21px;
    position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    z-index: 200;
    font-family: "Rounded Mplus 1c";
    color: #0B0014;
}

.circle {
    left: 23%;
    font-size: 36px;
    font-weight: 300;
    position: absolute;
    top: 58%;
    transform: translate(-50%,-50%);
    z-index: 200;
    font-family: "Rounded Mplus 1c";
    color: #D44D5C;
    padding: 15px;
    border: 2px solid #D44D5C;
    border-radius: 50%;
    cursor: pointer;
}


@media (max-width: 1024px) {

    .productName{
        left: 50%;
        top: 20%;
    }

    .productSubName{
        left: 50%;
        top: calc(20% + 50px);
    }

    .bigBack{
        top: 55%; 
    }
    .foodPhoto{
        top: 60%;
        height: 45vh;
    }

    .circle{
        left: 50%;
        top: calc(20% + 125px);
    }
}


@media (max-width: 767px) {

    .productName{
        font-size: 30px;
    }

    .productSubName{
        font-size: 14px;
        top: calc(20% + 35px);
    }

    .bigBack{
        top: 55%;
        height: 65vh;
    }

    .foodPhoto{
        top: 65%;
        height: 30vh;
    }

    .circle{
        padding: 8px;
    }
}


.fadeMoveWord{
    opacity: 0;
    margin-top:+5%;
}


#fullNav{
    position: fixed;
    width: 100%;
    height: 0%;
    background-color: #fff;
    z-index: 9996;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

#fullNav>div{
    max-width: 860px;
    margin-top:50%;
}

#fullNav>div>a{
    text-align: center;
    font-size: 36px;
    font-family: "Rounded Mplus 1c";
    color: #D44D5C;
    display: block;
    line-height: 46px;
}

#fullNav>div>a:hover{
    opacity: 0.7;
}

@media (max-width: 767px) {
    #fullNav>div>a{
        font-size: 30px;
        line-height: 40px;
    }
}