/* ======================= edited the original css setting in fullpage js  ======================= */

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 5px;
        width: 5px;
        border: 0;
        background: #D44D5C;
    }

    #fp-nav.right {
        right: 30px;
    }

    @media (max-width: 900px) {
        #fp-nav.right {
            right: 10px;
        }
    }

    @media (max-width: 550px) {
        #fp-nav.right {
            display: none;
        }

        div> .gmnoprint{
            display: none;
        }

        .gm-style>button{
            display:none;
        }
    }