/* ======== home page ======= */


	.pageTitle{
		left: 50%;
		font-size: 55px;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: 250;
		font-family: "Rounded Mplus 1c";
		color: #D44D5C;
		width: 650px;
		text-align: center;
		line-height: 100px;
	}

	.smallDescription{
		left: 50%;
		font-size: 21px;
		position: absolute;
		top: calc(55% + 75px);
		transform: translate(-50%,-50%);
		z-index: 200;
		font-family: "Rounded Mplus 1c";
		color: #0B0014;
	}


	/* word moving */
	.fadeWord{
		opacity: 0;
		margin-top:+5%;
	}

	/* second section's title */
	.lefter{
		left:40%;
	}
	
	/* third section's title make it upper */
	.upper{
		top: calc(50% + 70px);
	}

	#picBg{
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: calc(100% - 180px);
	}

	.mobilePic{
		display: none;
	}

	#preparing{
		position: absolute;
		top: 90px;
		left: 60%;
		height: 80%;
	}

	#cooking{
		position: absolute;
		top: 90px;
		left: 10%;
		height: 80%;
	}


	/* ======== moving circle plus icon ======= */


	.circle{
		left: 23%;
		position: absolute;
		top: 58%;
		transform: translate(-50%,-50%);
		z-index: 1200;
		background-image: url('../imgs/circleplus.svg');
		background-repeat: no-repeat;
		background-size: 70px;
		position: absolute;
		height: 70px;
		width: 70px;
		cursor: pointer;
	}

	.center{
		left: 50%;
		top: calc(60% + 70px);
	}


	/* ======== mobile part ======== */


	@media (max-width: 1000px) {
		
		#picBg{
			display: none;
		}

		.mobilePic{
			display: block;	
		}

		.mobilePicUp{
			position: absolute;
			top: 50px;
			width: calc(100% - 180px);
		}
		
		.mobilePicDown{
			position: absolute;
			bottom:  50px;
			width: calc(100% - 180px);
		}

		#preparing{
			top: 90px;
			left: 40%;
			height: 75%;
		}
	
		#cooking{
			top: 90px;
			left: 5%;
			height: 75%;
		}

	}

	@media (max-width: 900px) {

		#mobileArrow{
		width: auto;
		background-image: url("../imgs/arrow.svg");
		background-repeat: no-repeat;
		background-size: 18px;
		background-position: center;
		height: 13px;
		-webkit-animation: arrow 1s infinite; /* Safari 4.0 - 8.0 */
    	animation: arrow 1s infinite;
		animation-play-state: running;
		animation-timing-function: linear;
		margin-top:80vh;
		}

	}

	@media (max-width: 860px) {

		.mobilePicUp{
			width: calc(100% - 100px);
		}

		.mobilePicDown{
			width: calc(100% - 100px);
		}

	}

	@media (max-width: 770px) {

		#preparing{
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
		}
	
		#cooking{
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
		}

				
		.pageTitle{
			left: 50%;
			font-size: 30px;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			z-index: 250;
			width: 260px;
			text-align: center;
			line-height: 35px;
		}
		
		.smallDescription{
			left: 50%;
			font-size: 14px;
			position: absolute;
			top: calc(50% + 60px);
			transform: translate(-50%,-50%);
			z-index: 200;
			width: 260px;
			text-align: center;
		}

		.upper{
			top: calc(50% + 60px);
		}

		.mobileTextUp{
			top: 20%;
		}

		.mobileSmallTextUpOne{
			top: calc(20% + 60px);
		}

		.mobileSmallTextUp{
			top: calc(20% + 50px);
		}

	}

	@media (max-width: 767px){

		.circle{
			background-size: 54px;
			height: 54px;
			width: 54px;
		}

	}


	@media (max-width: 550px) {

		.mobilePicUp{
			top: 20px;
			width: calc(100% - 40px);
		}

		.mobilePicDown{
			bottom:  20px;
			width: calc(100% - 40px);
		}

		.circle{
			height: 41px;
			background-size: 41px;
			width: 41px;
		}

	}


	
