/* ======================= css reset ========================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Rounded Mplus 1c";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q 
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}


/* ======================= Basic setting ========================== */


* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }

a {
	  text-decoration: none;
	  color: #D44D5C;
  }


/* ======================= header part ========================== */


	header{
	overflow: hidden;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	height: 90px;
	z-index: 9995;
	}

	.headerContainer{
		padding: 0 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90px;
	}

	header>.headerContainer>.firstDiv,
	header>.headerContainer>.secondDiv,
	header>.headerContainer>.thirdDiv{
		flex: auto;
		width: 33%;
	}

	header>.headerContainer>.firstDiv{
		background-image: url("../imgs/logo.png");
		background-repeat: no-repeat;
		background-position: left;
		background-size: 110px;
		height: 50%;
		cursor: pointer;
	}

	header>.headerContainer>.firstDiv>a{
		height: 45px;
		width: 110px;
		display: block;
	}

	header>.headerContainer>.secondDiv{
		text-align: center;
	}

	header>.headerContainer>.thirdDiv{
		text-align: right;
	}

	header>.headerContainer>.secondDiv>a{
		padding:24px 3%;
		margin: 0 6%;
	}

	header>.headerContainer>.secondDiv>a:hover{
		border-bottom: 5px #D44D5C solid;
		opacity: 0.7;
	}

	.hoverEffectLink{
		border-bottom: 5px #D44D5C solid;
	}

	header>.headerContainer>.thirdDiv>a img{
		height: 20px;
		margin: 0 1%;
	}

	header>.headerContainer>.thirdDiv>a:first-child{
		height: 20px;
		margin: 0 1%;
		width: 20px;
		background-image: url("../imgs/united-kingdom.svg");
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: center;
		display: inline-block;
	}

	header>.headerContainer>.thirdDiv>a{
		height: 20px;
		margin: 0 1%;
		width: 20px;
		background-image: url("../imgs/japan1.svg");
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: center;
		display: inline-block;
	}

	header>.headerContainer>.thirdDiv>a:last-child{
		height: 20px;
		margin: 0 1%;
		width: 20px;
		background-image: url("../imgs/taiwan.svg");
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: center;
		display: inline-block;
	}

	header>.headerContainer>.thirdDiv>a:hover{
		opacity: 0.7;
	}


/* ======================= footer part ========================== */


	footer{
		overflow: hidden;
		background-color:#fff;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 90px;
		z-index: 9995;
	}

	.footerContainer{
		padding: 0 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90px;
	}

	footer>.footerContainer>.firstDiv,
	footer>.footerContainer>.secondDiv,
	footer>.footerContainer>.thirdDiv{
		flex: auto;
		width: 33%;
	}

	footer>.footerContainer>.firstDiv{
		color: #D44D5C;
		text-align: left;
	}

	footer>.footerContainer>.thirdDiv{
		text-align: right;
	}

	footer>.footerContainer>.thirdDiv>a:hover{
		opacity: 0.8;
	}

	footer>.footerContainer>.secondDiv>img{
		height: 20px;
		margin-left: calc(50% - 10px);
	}

	footer>.footerContainer>.secondDiv{
		width:auto;
		background-image: url("../imgs/arrow.svg");
		background-repeat: no-repeat;
		background-size: 18px;
		background-position: center;
		height: 13px;
		-webkit-animation: arrow 1s infinite; /* Safari 4.0 - 8.0 */
    	animation: arrow 1s infinite;
		animation-play-state: running;
		animation-timing-function: linear;
	
	}

	@keyframes arrow{
		0%   {transform:translate(0px, -6px)}
		100% {transform:translate(0px, 6px)}
	}


/* ======================= mobile nav red boxes part ========================== */

	/* only show the red nav boxes smaller than 900px for mobile ver */
	nav{
		display: none;
	}

	@media (max-width: 900px) {
		nav{
			display: initial;
		}
	}


	.topLogoMobileBox{
			position: fixed;
			width: 130px;
			height: 90px;
			background-color: #D44D5C;
			top: 50%;
			left: 0%;
			transform: translate(0%,-50%);
			z-index: 9997;
			background-image: url("../imgs/lightlogo.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 85%;
	}
	
	.topLogoMobileBox>a>div{
		width: 130px;
		height: 90px;
		display: block;
	}

	
	.bottomNavMobileBox{
		position: fixed;
		width: 130px;
		height: 90px;
		background-color: #D44D5C;
		top: 50%;
		right: 0%;
		transform: translate(0%,-50%);
		z-index: 9997;
	}

	.threeBarsContainer{
		display: inline-block;
		cursor: pointer;
		margin-top: 25px;
		margin-left: 47px;
	}
	
	.bar1, .bar2, .bar3{
		width: 35px;
		height: 3px;
		background-color: #F5E9E2;
		margin: 7px 0;
		transition: 0.4s;
		border-radius: 20%;
	}
	
	.changeLooking .bar1{
		-webkit-transform: rotate(-45deg) translate(-6px, 6px);
		transform: rotate(-45deg) translate(-6px, 6px);
	}
	
	.changeLooking .bar2{opacity: 0;}
	
	.changeLooking .bar3{
		-webkit-transform: rotate(45deg) translate(-6px, -6px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	

/* ======================= gray background ========================== */


	#bg{
		background-image: url("../imgs/bg.png");
		background-repeat: repeat;
		margin: 0 auto;
		width: calc(100% - 180px);
		height: 100vh;
		overflow: hidden;
	}


/* ======================= header footer and mobile nav red boxes and bg RWD ======================= */


	@media (max-width: 1100px) {

		header>.headerContainer>.secondDiv>a{
			padding:24px 1%;
			/* margin: 0 3%; */
		}
	}

	@media (max-width: 900px) {

		#bg{
			width: calc(100% - 100px);
		}

		header{
			height: 50px;
			z-index: 9995;
		}

		.headerContainer{
			display: none;
		}
		
		footer{
			height: 50px;
			z-index: 9995;
		}

		.footerContainer{
			display: none;
		}

		.topLogoMobileBox{
			top: 0px;
			left:calc(50% - 65px);
			transform: translate(0%,0%);
			height: 70px;
		}

		.bottomNavMobileBox{
			height: 70px;
			top: auto;
			bottom: 0px;
			left:calc(50% - 65px);
			transform: translate(0%,0%);
		}

		.threeBarsContainer {
			margin-top: 18px;
		}

	}


	@media (max-width: 550px) {

		#bg{
			width: calc(100% - 40px);
		}

		header{
			height: 20px;
			z-index: 9995;
		}

		footer{
			height: 20px;
			z-index: 9995;
		}

		.topLogoMobileBox{
			height: 35px;
			width: 80px;
			left:calc(50% - 40px);
			transform: translate(0%,0%);
		}
		
		.topLogoMobileBox>a>div{
			width: 80px;
			height: 35px;
			display: block;
		}

		.bottomNavMobileBox{
			height: 35px;
			width: 80px;
			bottom: 0px;
			left:calc(50% - 40px);
		}

		.topLogoMobileBox>a img{
			margin-top: 8px;
			margin-left: 10px;
		}

		.bar1, .bar2, .bar3{
			width: 25px;
			height: 2px;
			margin: 5px 0;
		}

		.threeBarsContainer{
			margin-top: 4px;
			margin-left: 28px;
		}

	}

	@media (max-width: 550px) {

		.changeLooking .bar1{
			-webkit-transform: rotate(-45deg) translate(-6px, 6px);
			transform: rotate(-45deg) translate(-2px, 2px);
		}

		.threeBarsContainer{
			margin-top: 6px;
		}

	}


/* ======================= mobile full page nav part ======================= */


	#fullNav{
		position: fixed;
		width: 100%;
		height: 0%;
		background-color: #fff;
		z-index: 9996;
		opacity: 0;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	#fullNav>div{
		max-width: 860px;
		margin-top:-150%;
	}

	#fullNav>div>a{
		text-align: center;
		font-size: 36px;
		font-family: "Rounded Mplus 1c";
		color: #D44D5C;
		display: block;
		line-height: 51px;
	}

	.changeWordColor{
		color: #333;
	}

	@media (max-width: 767px) {
		#fullNav>div>a{
			font-size: 30px;
			line-height: 40px;
		}
	}

	.mobileNavFoodLink{
		display: none;
	}

	.mobileNavFoodLink>a{
		text-align: center;
		font-size: 16px;
		font-family: "Rounded Mplus 1c";
		color: #333;
		display: block;
		line-height: 30px;
		opacity: 0.5;
	}

	.mobileNavFoodLink>a:hover{
		opacity: 0.9;
	}

	@media (max-width: 900px) {

		.mobileNavFoodLink{
			display: block;
		}

		.mobileNavFoodLink>a{
			display: block;
			font-size: 14px;
			line-height: 25px;
		}
	}


/* ======================= loading's cover with jumping gif part  ======================= */


.pageLoadingCover{
	height: calc(100vh - 20px);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../imgs/logo.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	background-size: 15%;
	z-index: 300;
}

.smallDot{
	margin-top: 40px;
    width: 10px;
    height: 10px;
    background-color: #D44D5C;
    border-radius: 50%;
	position: absolute; 
}

@keyframes myshine {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

.dotOne{
	top: calc(50% + 5%);
	left: calc(50% - 3%);
	animation: myshine .5s infinite;
}

.dotTwo{
	top: calc(50% + 5%);
	left: calc(50%);
	animation: myshine .5s infinite;
	animation-delay: .2s;
}

.dotThree{
	top: calc(50% + 5%);
	left: calc(50% + 3%);
	animation: myshine .5s infinite;
}

@media (max-width: 900px) {
	.pageLoadingCover{
		background-size: 20%;
	}
}

@media (max-width: 500px) {

	.pageLoadingCover{
		background-size: 30%;
	}

	.smallDot{
		width: 5px;
		height: 5px;
		background-color: #D44D5C;
		border-radius: 50%;
		position: absolute;
	}

}


/*  ======================= footer first part with FB and Twitter sharing button  ======================= */


.footerContainer>.firstDiv>a{
	display: inline-block;
	 width: 20px;
	 height: 20px;
	 background-image: url(../imgs/twitter.svg);
	 background-repeat: no-repeat;
	 background-size: 20px;
	 background-position: center;
	 vertical-align: bottom;
 }
 
 
 .footerContainer>.firstDiv>a:nth-child(2){
	 display: inline-block;
	  width: 20px;
	  height: 20px;
	  background-image: url(../imgs/facebookbutton.svg);
	  background-repeat: no-repeat;
	  background-size: 20px;
	  background-position: center;
	  margin: 0px 10px 0px 5px;
  }
 
 .footerContainer>.firstDiv>p{
	 display: inline-block;
  }